<script>
	import { onMount } from 'svelte';
	import QRCode from 'qrcode';
	import {downloadPng} from 'svg-crowbar';

	let input='', qrcode;
	$:l = input.length

	function getSvg( text){
		QRCode.toString( text,{
			type:'terminal',
			errorCorrectionLevel: 'H'
			},
			function (err, url) {
				qrcode = url;
			}
		)
	}

	function convert(){
		getSvg( input )
	}	

	function save(){
		downloadPng( document.getElementById('qrcode').childNodes[0], 'QRcode', { css: 'none'} );
	}

	onMount(() => {
		getSvg('Hi there ✋, you can find the source code in ; https://github.com/ubmagh/qrGenerator');
	});

</script>


<main class="text-center p-4 m-0 max-h-[100vh]">
	<div class="w-full flex text-green-300 items-center relative">
		<h1 class="text-4xl font-medium text-green-300">QR Generator</h1>
		<a
		  href="https://github.com/ubmagh/qrGenerator"
		  class="flex absolute right-0 justify-center items-center p-2 px-6 text-green-300 font-semibold hover:shadow-green-300/30 sm:hover:scale-[1.02] transition-all ease-in-out duration-100 scale-75 -mr-6 md:mr-0 sm:scale-100"
		  target="_blank"
		  rel="noopener noreferrer"
		>
		<svg xmlns="http://www.w3.org/2000/svg" class="fill-green-300" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
		</a>
	</div>

	<div class="w-full flex flex-col md:flex-row py-20 md:py-24 h-[90vh] items-center relative">
		<div class="flex flex-col w-full md:w-6/12 relative">
		  <p class="text-6xl text-green-200 md:text-4xl lg:text-6xl 2xl:text-8xl">
			Best QR-code Generator
		  </p>
		  <div class="flex flex-col sm:flex-col mt-8 md:my-16 2xl:my-20 items-center px-2">
			<small class="text-red-500 my-2 text-lg {l>255? "":"hidden"}"> ❗ maximum 255 characters.</small>
			<textarea id="content" cols="30" rows="10" bind:value={input} placeholder="Enter any content to convert it to QR code" class="border-2 px-4 py-3 rounded {l>255? "outline-red-500 focus:border-red-500 text-red-300 border-red-400":"outline-green-200 focus:border-green-300 text-green-200 border-green-200"} bg-transparent w-full text-xl sm:text-3xl md:text-xl lg:text-2xl 2xl:text-3xl  focus:border-b-4 resize-none " ></textarea>
		  	<div class="w-full mt-4 block">
				<button on:click={convert} disabled={l>255} class="bg-green-400 hover:bg-green-300 px-7 py-3 text-xl disabled:bg-gray-400 rounded-full text-gray-800" type="button">
					<svg xmlns="http://www.w3.org/2000/svg" class="fill-gray-800 inline" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm2 12l-4.5 4.5 1.527 1.5 5.973-6-5.973-6-1.527 1.5 4.5 4.5z"/></svg>
					Convert
				</button>
			</div>
		  </div>
		</div>
		<div class="w-full flex flex-col mt-16 md:mt-0 md:w-6/12 justify-center align-middle content-center items-center px-2">
			<div
				class="w-11/12 md:w-10/12 px-2 mx-auto aspect-square select-none pointer-events-none"
				contenteditable="true"
				bind:innerHTML={qrcode}
				id="qrcode"
			>
			</div>
			<div class="w-full block p-3">
				<button class="bg-green-400 hover:bg-green-300 px-7 py-3 text-xl rounded-full text-gray-800" on:click={save} type="button">
					<svg xmlns="http://www.w3.org/2000/svg" class="fill-gray-800 inline" width="24" height="24" viewBox="0 0 24 24"><path d="M16 11h5l-9 10-9-10h5v-11h8v11zm1 11h-10v2h10v-2z"/></svg>
					save png
				</button>
			</div>
		</div>
	</div>

</main> 

<style lang="postcss" global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>